{% if alerts %}
<div id="alert-portal" class="container">
    <div class="row justify-content-center">
        {% for alert in alerts %}
        <div class="col-9 alert alert-{{alert.severity}} alert-dismissible fade show mt-3" role="alert">
            {{alert.message|safe}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    #alert-portal p, #alert-portal ul {
        margin: 0;
        padding: 0;
    }

    #alert-portal ul {
        margin-left: 1rem;
    }
</style>

{% endif %}