<ul id="apps-list" class="col-8 mx-2 my-4">
    {% for app in apps %}
    <li id="app-{{ app.app_id }}" class="card d-flex flex-column mb-4 border ">
        <header class="h3 card-header d-flex flex-row justify-content-between primary text-bg-primary">
            <span>{{ app.name }}</span>
            {% if app_operation == 'update' and app_id == app.app_id %}
            <span hx-get="/poll" hx-trigger="load delay:2s" hx-swap="delete">Updated!</span>
            {% endif %}
            {% if app_operation == 'reset_secret' and app_id == app.app_id %}
            <span hx-get="/poll" hx-trigger="load delay:2s" hx-swap="delete">Secret was reset!!</span>
            {% endif %}
        </header>
        <div class="card-body">
            <div class="d-flex flex-row gap-2">
                <img src="{{app.avatar}}" class="rounded" height="120" alt="{{app.name}} Avatar"/>
                <div class="d-flex flex-column gap-2">
                    <span class="text-nowrap">ID: {{ app.app_id }}</span>
                </div>
            </div>
            <div class="d-flex flex-column my-4">
                {% if py.len(app.callback_urls) == 0 %}
                <span class="fw-bold text-info-emphasis">No callback urls set!</span>
                {% else %}
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Callback URLS</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for url in app.callback_urls %}
                    <tr>
                        <td>
                            {{ url }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        <div class="card-footer">
            <div class="my-2 btn-group" role="group">
                {% if has_permission(Permission.oauth2_test_authorization) %}
                <a href="/oauth2/init/{{app.app_id}}" class="btn btn-success">Test</a>
                {% endif %}
                <button type="button" class="btn btn-secondary" onclick="copyAppId('{{app.app_id}}')">Copy ID</button>
                {% if has_permission(Permission.copy_app_secret) %}
                <button
                        class="btn btn-secondary"
                        hx-get="/apps/{{app.app_id}}/secret"
                        hx-target="#modal-portal"
                        hx-trigger="click"
                >
                    Copy Secret
                </button>
                {% endif %}

                {% if has_permission(Permission.update_app_secret) %}
                <button
                        hx-get="/apps/{{ app.app_id }}/reset_secret"
                        hx-target="#edit-app-window"
                        hx-swap="innerHTML"
                        class="btn btn-secondary"
                >
                    New Secret
                </button>
                {% endif %}

                {% if has_permission(Permission.update_app) %}
                <button
                        hx-get="/apps/{{ app.app_id }}/edit"
                        hx-target="#edit-app-window"
                        hx-swap="innerHTML"
                        class="btn btn-primary"
                >
                    Edit
                </button>
                {% endif %}

                {% if has_permission(Permission.delete_app) %}
                <button
                        hx-get="/apps/{{ app.app_id }}/delete"
                        hx-target="#edit-app-window"
                        hx-swap="innerHTML"
                        class="btn btn-danger"
                >
                    Delete
                </button>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}

    {% if app_operation == 'delete' %}
    <li class="d-none">
        <span hx-get="/poll" hx-trigger="load" hx-target="#delete-app-card" hx-swap="delete">Deleted!</span>
    </li>

    {% endif %}
</ul>

<script>
    function copyAppId(appId) {
        navigator.clipboard.writeText(appId);
    }
</script>