<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="/static/img/writersscroll.gif" height="32" alt="IAM Logo"/>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {% if is_logged_in %}
                <li>
                    <a href="/dashboard"
                       class="nav-link px-2 {{ 'text-secondary' if request.path.startswith('/dashboard') else 'text-white' }}">Dashboard</a>
                </li>
                {% if has_permission(Permission.list_apps) %}
                <li>
                    <a href="/apps"
                       class="nav-link px-2 {{ 'text-secondary' if request.path.startswith('/apps') else 'text-white' }}">Apps</a>
                </li>
                {% endif %}
                {% if has_permission(Permission.list_users) %}
                <li>
                    <a href="/users"
                       class="nav-link px-2 {{ 'text-secondary' if request.path.startswith('/users') else 'text-white' }}">Users</a>
                </li>
                {% endif %}
                <li>
                    <a href="/docs" target="_blank" class="nav-link px-2 text-white">API Docs</a>
                </li>
                {% endif %}
                {% if status_code %}
                <li class="d-inline-flex flex-row align-items-center">
                    <span class="mx-4 text-warning">{{status_code}}</span>
                </li>
                {% endif %}
            </ul>

            <!--            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">-->
            <!--                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."-->
            <!--                       aria-label="Search">-->
            <!--            </form>-->

            {% if hide_authentication_buttons %}
            {% endif %}

            {% if user %}
            <a href="/my-account" class="btn btn-primary mx-2">{{user.user_id}}</a>
            {% endif %}

            {% if not hide_authentication_buttons %}
            <div class="text-end">
                {% if is_logged_in %}
                <a href="/logout" type="button" class="btn btn-outline-warning me-2">Log out</a>
                {% else %}
                <a href="/login" type="button" class="btn btn-warning me-2">Login</a>
                {% if service_config.self_sign_up_enabled %}
                <a href="/register" type="button" class="btn btn-outline-light">Sign-up</a>
                {% endif %}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</header>