{% extends "_layout.html" %}

{% block content %}

<div class="d-flex flex-column align-items-center justify-content-center border-bottom">
    <header class="p-4 gap-4 d-inline-flex flex-row align-items-center">
        <h1 class="h1">Authorize Application</h1>
    </header>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-xs-12 col-sm-8 col-md-6 col-lg-6 col-xl-6">
            <div class="card my-5">
                <form class="card-body" action="/oauth2/authorize" method="POST">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            <div class="d-flex flex-row align-items-center gap-4 mb-3">
                                <img src="{{app.avatar}}" class="rounded" height="48"/>
                                <div class="d-inline-flex flex-column">
                                    <span class="fw-bold">{{app.name}}</span>
                                    <span>Wants to access your account</span>
                                </div>
                            </div>

                            {% if OAuthScope.identity in auth_request.scope %}
                            <div class="d-flex flex-row align-items-center gap-4 mb-3">
                                <img src="/static/img/cs-user.svg" height="48"/>
                                <div class="d-inline-flex flex-column">
                                    <span class="fw-bold">Your Weed IAM identity</span>
                                    <span>Full access</span>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <!--                        <div class="list-group-item mb-3">-->
                        <!--                            Put some shit here-->
                        <!--                        </div>-->

                        <div class="d-none">
                            <label>
                                OAuth Code
                                <input type="text" name="oauth_code" value="{{oauth_code}}"/>
                            </label>
                            <label>
                                OAuth State
                                <input type="text" name="oauth_state" value="{{oauth_state}}"/>
                            </label>
                            <label>
                                Redirect URL
                                <input type="text" name="redirect_url" value="{{auth_request.redirect_uri}}" ?>
                            </label>
                        </div>

                        <div class="list-group-item d-grid mt-2">
                            <button type="submit" class="btn btn-lg btn-success">Authorize Application</button>
                            <div class="text-center small mt-2 d-flex flex-column gap-1">
                                <span>Authorizing will redirect to</span>
                                <span class="fw-bold">{{auth_request.redirect_uri}}</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}