{% extends "_layout.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card my-5">
                <div class="card-body">
                    <form class="list-group list-group-flush" action="/oauth2/init/callback" method="POST">
                        <div class="list-group-item py-3">
                            <header class="h3 text-center">Success!</header>
                        </div>
                        <div class="list-group-item py-3">
                            The OAuth server has returned an OAuth code.
                            You can now claim the code to obtain application tokens.
                            Usually these would be kept private, but since we're in a test environment you get to see
                            them!
                        </div>
                        <div class="list-group-item py-3">
                            <label for="oauth_code" class="fw-bold">OAuth code</label>
                            <textarea id="oauth_code" name="oauth_code" rows="12"
                                      class="font-monospace d-block w-100 mb-3">{{oauth_code}}</textarea>
                        </div>
                        <div class="list-group-item my-3 d-grid">
                            <button type="submit" class="btn btn-success btn-lg">Claim code</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

