{% extends "_layout.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card my-5">
                <div class="card-body">
                    <form class="list-group list-group-flush" action="/oauth2/authorize" method="GET">
                        <div class="list-group-item py-4">
                            Initializing authorization with app <span class="fw-bold text-nowrap">{{app.name}}</span>
                        </div>
                        <div class="list-group-item py-4">
                            <label for="response_type" class="form-label">Response Type</label>
                            <select id="response_type" name="response_type" class="form-select"
                                    aria-label="OAuth2 response type">
                                {% for response_type in response_types %}
                                <option value="{{response_type}}">{{response_type}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="list-group-item py-4">
                            <label for="client_id" class="form-label">Client ID</label>
                            <input name="client_id" type="text" class="form-control" id="client_id"
                                   value="{{app.app_id}}">
                        </div>
                        <div class="list-group-item py-4">
                            <label for="redirect_uri" class="form-label">Redirect URI</label>
                            <select id="redirect_uri" name="redirect_uri" class="form-select"
                                    aria-label="Redirect URI">
                                {% for url in app.callback_urls %}
                                <option value="{{url}}">{{url}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="list-group-item py-4">
                            <label class="form-label">Scopes</label>

                            {% for scope in oauth_scopes %}
                            <div class="form-check">
                                <input class="form-check-input" name="scope" type="checkbox" value="{{scope.value}}"
                                       checked>
                                <label class="form-check-label">
                                    {{scope.name}}
                                </label>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="list-group-item py-4">
                            <label for="state" class="form-label">State</label>
                            <input name="state" type="text" class="form-control" id="state"
                                   value="{{state}}">
                        </div>

                        <div class="d-grid mt-4 pb-3">
                            <button type="submit" class="btn btn-lg btn-success">
                                Init Authorization
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}