{% extends "_layout.html" %}

{% block content %}

<div class="d-flex flex-column align-items-center justify-content-center border-bottom">
    <header class="p-4 gap-4 d-inline-flex flex-column align-items-center">
        <h1 class="h1">Authorization Init</h1>
        <small>Test OAuth2</small>
    </header>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card my-5">
                <div class="card-header bg-primary text-bg-primary">
                    Select an application
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for app in apps %}
                        <li class="list-group-item">
                            <a class="d-flex flex-row align-items-center gap-4 btn btn-link d-block text-start"
                               href="/oauth2/init/{{app.app_id}}">
                                <img src="{{app.avatar}}" height="48" alt="Avatar for {{app.name}}"/>
                                <span>{{app.name}}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}