{% extends "_layout.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card my-5">
                <div class="card-body">
                    <label for="refresh_token">Refresh Token</label>
                    <textarea id="refresh_token" rows="12"
                              class="d-block w-100">{{token_response.refresh_token}}</textarea>
                </div>
            </div>
            <div class="card my-5">
                <div class="card-body">
                    <label for="access_token">Access Token</label>
                    <textarea id="access_token" rows="12"
                              class="d-block w-100">{{token_response.access_token}}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

