{% extends "_layout.html" %}

{% block content %}

<div class="d-flex flex-column align-items-center justify-content-center border-bottom">
    <header class="p-4 gap-4 d-inline-flex flex-row align-items-center">
        <h1 class="h1">Weed IAM Settings</h1>
    </header>
</div>

<div class="container">
    TBD
</div>

{% endblock content %}
