<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootswatch.spacelab.min.css" rel="stylesheet"/>
    <title>{% block title %}{{ title }}{% endblock title %}</title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">

    <style>
        .global-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100vw;
            height: 2rem;
            padding: 0 2rem;
        }
    </style>
</head>
<body>

<div id="modal-portal"></div>

{% include "partials/header.html" %}
{% include "partials/alerts.html" %}

{% block content %}
<span class="alert text-bg-danger">Content block was not filled</span>
{% endblock content %}

<footer class="global-footer">
    <span>
        {{datetime_now}}
    </span>
</footer>

<script src="/static/htmx.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>

<script>
    function closeModal(modalId) {
        const elements = [...document.getElementsByClassName(`modal-${modalId}`)];

        elements.forEach(elem => elem.remove());
    }
</script>

</body>
</html>