{% extends "_layout.html" %}

{% block content %}

<div class="container container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <header class="text-center">
                <h1>IAM Dashboard</h1>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Quick Links</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="/my-account">My Account</a></li>
                        {% if has_permission(Permission.list_apps) %}
                        <li class="list-group-item"><a href="/apps">Apps</a></li>
                        {% endif %}

                        {% if has_permission(Permission.list_users) %}
                        <li class="list-group-item"><a href="/users">Users</a></li>
                        {% endif %}

                        {% if has_permission(Permission.list_roles) %}
                        <li class="list-group-item"><a href="/roles">Roles</a></li>
                        {% endif %}

                        {% if has_permission(Permission.list_permissions) %}
                        <li class="list-group-item"><a href="/permissions">Permissions</a></li>
                        {% endif %}

                        {% if has_permission(Permission.admin) %}
                        <li class="list-group-item"><a href="/settings">Settings</a></li>
                        {% endif %}

                        {% if has_permission(Permission.oauth2_test_authorization) %}
                        <li class="list-group-item"><a href="/oauth2/init">OAuth2 Test</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Statistics</h5>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">Total Users</h6>
                                    <h5 class="card-title">{{ performance.total_users }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">Total Roles</h6>
                                    <h5 class="card-title">{{ performance.total_roles }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">Total Permissions</h6>
                                    <h5 class="card-title">{{ performance.total_permissions }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}