{% extends "_layout.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mt-5">
                <img src="/static/img/writersscroll.gif" alt="Error" width="200">
                <h1 class="mt-4">{{message_short}}</h1>
                <p class="lead">{{message_long}}</p>
                <!--                <h1 class="mt-4">Oops! Something went wrong.</h1>-->
                <!--                <p class="lead">We're sorry, but the page you're looking for cannot be found.</p>-->
                <div class="my-4">
                    <pre>{{exc.detail}}</pre>
                </div>
                <a href="/" class="btn btn-primary mt-3">Go to Homepage</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}