{% extends "_layout.html" %}

{% block content %}

<!-- Hero section -->
<div class="d-flex flex-column justify-content-center text-center py-4 text-bg-info">
    <h1>Weed IAM</h1>
    <p>An identity management server for development purposes</p>
    <!-- Add your banner or image here -->
</div>

<div class="container">
    <div class="row my-4">
        <div class="col-md-6">
            <div class="card p-4">
                <h3>Single Sign-On</h3>
                <p>Easily authenticate and authorize users across multiple applications with a single set of
                    credentials.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-4">
                <h3>Access Control</h3>
                <p>Manage user permissions and enforce fine-grained access control policies based on roles and
                    privileges.</p>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-6">
            <div class="card p-4">
                <h3>OAuth Provider</h3>
                <p>Act as an OAuth provider, allowing seamless integration with third-party applications and secure
                    authorization flows.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-4">
                <h3>Identity Federation</h3>
                <p>Establish trust relationships with external identity providers to enable single sign-on and user
                    management across organizations.</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}