{% extends "_layout.html" %}

{% block content %}

<div class="d-flex align-items-center py-4">
    <main class="form-signin m-auto w-25 d-inline-block">
        <form method="POST">
            <div class="d-flex flex-row justify-content-center mb-4">
                <img class="mb-4" src="/static/img/password.svg" alt="" height="57">
            </div>
            <h1 class="h3 mb-3 fw-normal">Please Log In</h1>

            <div class="form-floating mb-2">
                <input type="email" name="email" class="form-control" id="floatingInput" value="{{form.email}}"
                       placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating mb-4">
                <input type="password" name="password" class="form-control" id="floatingPassword"
                       placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            {% if redirect %}
            <input class="d-none" type="text" name="redirect" value="{{redirect}}"/>
            {% endif %}

            <button class="btn btn-primary w-100 py-2" type="submit">Sign In</button>
        </form>
    </main>
</div>

{% endblock content %}