{% extends "_layout.html" %}

{% block content %}

<div class="d-flex flex-column align-items-center justify-content-center border-bottom">
    <header class="p-4 gap-4 d-inline-flex flex-row align-items-center">
        <h1 class="h1">Permission Listing</h1>
    </header>
</div>

<div class="container">
    <div class="row">
        <ul>
            {% for permission in permissions %}
            <li>{{permission.name}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
