{% extends "_layout.html" %}

{% block content %}

<div class="d-flex align-items-center py-4">
    <main class="form-signin m-auto w-25 d-inline-block">
        <form method="POST">
            <div class="d-flex flex-row justify-content-center mb-4">
                <img class="mb-4" src="/static/img/password.svg" alt="" height="57">
            </div>
            <h1 class="h3 mb-3 fw-normal">Registration</h1>

            <p class="mb-2">
                Your account has been created successfully!
            </p>

            <div class="d-grid mt-5">
                <a href="/login" class="btn btn-lg btn-success">Log In</a>
            </div>
        </form>
    </main>
</div>

{% endblock content %}