{% extends "_layout.html" %}

{% block content %}

<div class="d-flex flex-column align-items-center justify-content-center border-bottom">
    <header class="p-4 gap-4 d-inline-flex flex-row align-items-center">
        <h1 class="h1">Roles Listing</h1>
    </header>
</div>

<div class="container">
    {% for role_name, role in roles.items() %}
    <div class="row">
        <div class="col col-12">
            <header class="h2">
                {{ role_name }}
            </header>
            <ul>
                {% for permission in role.permissions %}
                <li>{{permission.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
