{% extends "_layout.html" %}

{% block content %}

<div class="d-flex flex-column align-items-center justify-content-center border-bottom">
    <header class="p-4 gap-4 d-inline-flex flex-row align-items-center">
        <h1 class="h1">Apps Dashboard</h1>
        <a href="/apps/create" class="btn btn-primary">Create App</a>
    </header>
</div>

<div class="container d-flex flex-row justify-content-start">
    {% include "partials/apps_list.html" %}

    <div class="col-4 mx-2">
        <div id="edit-app-window" class="py-4 sticky-top">

        </div>
    </div>
</div>

{% endblock content %}