<div id="modal-backdrop" class="modal-backdrop fade show modal-{{modal_id}}" style="display:block;"></div>
<div id="modal" class="modal fade show modal-{{modal_id}}" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info ">
                <h5 class="modal-title text-bg-info">Confirmation</h5>
            </div>
            <div class="modal-body">
                <p>The application secret has been copied to your clipboard!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal('{{modal_id}}')">Close</button>
            </div>
        </div>
    </div>

    <script>
        navigator.clipboard.writeText('{{app.app_secret}}');
    </script>
</div>