{% extends "_layout.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="my-4">Create App</h2>
            <form method="POST">
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="app_name" name="app_name" placeholder="My awesome app"
                           required>
                    <label for="app_name" class="form-label">App Name</label>
                </div>

                <div class="mb-4">
                    <label for="callback_urls" class="form-label">Callback Urls</label>
                    <textarea type="text" class="form-control" id="callback_urls" rows="10" name="callback_urls"
                              required></textarea>
                </div>

                <div class="d-flex flex-row gap-2 justify-content-end my-4">
                    <a href="/apps" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}