<div id="delete-app-card" class="card">
    <div class="card-header bg-danger text-bg-danger">
        <span>Confirmation</span>
    </div>

    <div class="card-body">
        <div>
            Are you sure you want do <span class="text-danger-emphasis">delete</span> <span
                class="fw-bold text-nowrap">{{ app.name }}</span>
        </div>
        <div class="d-flex flex-column gap-2 my-4">
            <button type="button" class="btn d-block btn-secondary" hx-get="/poll" hx-target="#delete-app-card"
                    hx-trigger="click" hx-swap="delete">Cancel
            </button>
            <button type="button" class="btn d-block btn-danger" hx-post="/apps/{{ app.app_id }}/delete"
                    hx-target="#apps-list" hx-swap="outerHTML">Delete
            </button>
        </div>
    </div>
</div>