<div id="edit-app-card" class="card">
    <div class="card-header text-bg-primary bg-primary">
        <span>Editing&nbsp;</span><span class="fw-bold">{{ app.name }}</span>
    </div>
    <div class="card-body">
        <form hx-post="/apps/{{app.app_id}}/edit" hx-target="#apps-list" hx-swap="outerHTML">
            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="app_name" name="app_name" value="{{ app.name }}"
                       required>
                <label for="app_name" class="form-label">App Name</label>
            </div>

            <div class="mb-4">
                <label for="callback_urls" class="form-label">Callback Urls</label>
                <textarea type="text" class="form-control" id="callback_urls" rows="10" name="callback_urls"
                          required>{{ py.str.join('\n', app.callback_urls) }}</textarea>
            </div>

            <div class="d-flex flex-row gap-2 justify-content-end my-4">
                <button type="button" class="btn btn-secondary" hx-get="/poll" hx-target="#edit-app-card"
                        hx-trigger="click" hx-swap="delete">Close
                </button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>