<div id="reset-secret-card" class="card">
    <div class="card-header bg-danger text-bg-danger">
        <span>Confirmation</span>
    </div>

    <div class="card-body">
        <div class="mb-2">
            Are you sure you want do <span class="text-danger-emphasis">reset the secret</span> for <span
                class="fw-bold text-nowrap">{{ app.name }}</span>
        </div>
        <div class="mb-2">
            If you do this, you will need to update the secret on all the clients that connect to this app!
        </div>
        <div class="d-flex flex-column gap-2 my-4">
            <button
                    type="button"
                    class="btn d-block btn-secondary"
                    hx-get="/poll"
                    hx-target="#reset-secret-card"
                    hx-trigger="click"
                    hx-swap="delete"
            >
                Cancel
            </button>
            <button
                    type="button"
                    class="btn d-block btn-danger"
                    hx-post="/apps/{{ app.app_id }}/reset_secret"
                    hx-target="#apps-list"
                    hx-swap="outerHTML"
            >
                Reset Secret
            </button>
        </div>
    </div>
</div>