{% extends "_layout.html" %}

{% block content %}

<div class="d-flex flex-column align-items-center justify-content-center border-bottom">
    <header class="p-4 gap-4 d-inline-flex flex-row align-items-center">
        <h1 class="h1">User Dashboard</h1>
        <a href="/users/create" class="btn btn-primary">Create User</a>
    </header>
</div>

<div class="container">
    {% if page.need_pagination %}
    <div class="row my-3">
        <div class="col col-10">
            <!-- Pagination -->
            <nav>
                <ul class="pagination justify-content-start">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {% for page_label, page_index in page.paginator %}
                    <li class="page-item"><a class="page-link" href="/users?page_index={{page_index}}&page_offset=50">{{page_label}}</a>
                    </li>
                    {% endfor %}

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-2">
            <!-- Items per page dropdown -->
            <div class="input-group">
                <label class="input-group-text" for="itemsPerPage">Items per Page:</label>
                <select class="form-select" id="itemsPerPage">
                    <option selected>10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-9">
            <table class="table table-hover users-table my-4">
                <thead class="user-select-none">
                <tr>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>

                <tbody>
                {% for user in page.data %}
                <tr>
                    <td>{{user.user_id}}</td>
                    <td>
                        <div class="d-inline-flex flex-row align-items-center gap-2">
                            {% for role in rbac.role_keys %}
                            <div class="text-bg-light px-2 py-1 d-inline-flex gap-2 rounded-2">
                                {% if role in user.roles %}
                                <input class="form-check-input disabled" type="checkbox" disabled checked>
                                {% else %}
                                <input class="form-check-input disabled" type="checkbox" disabled>
                                {% endif %}
                                <label class="form-check-label user-select-none">
                                    {{role}}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-sm">
                            <button type="button" class="btn btn-sm btn-secondary show-on-hover">Change Roles</button>
                            <button type="button" class="btn btn-sm btn-danger show-on-hover">Delete</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <style>
                .users-table tr:not(:hover) .show-on-hover {
                    opacity: 0;
                }
            </style>
        </div>
    </div>
</div>

{% endblock content %}